<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<title>Insert title here</title>
</head>
<body>
<!--  
测试自定义静态资源路径
<img alt="cat" th:src="@{/static/images/cat.jpg}" />
<img alt="cat" src="/mytest/cat.jpg" />
-->


<!-- jquery -->
<script type="text/javascript" th:src="@{/static/jquery/jquery-3.2.1.min.js}"></script>
<!-- jquery Plugin -->
<script type="text/javascript" th:src="@{/static/tableExport/tableExport.js}"></script>
<script type="text/javascript" th:src="@{/static/tableExport/jquery.base64.js}"></script>
<!-- PNG Export  -->
<script type="text/javascript" th:src="@{/static/tableExport/html2canvas.js}"></script>
<!--  PDF Export  -->
<script type="text/javascript" th:src="@{/static/tableExport/jspdf/libs/sprintf.js}"></script>
<script type="text/javascript" th:src="@{/static/tableExport/jspdf/jspdf.js}"></script>
<script type="text/javascript" th:src="@{/static/tableExport/jspdf/libs/base64.js}"></script>
<!-- 
用法:
Usage
onClick ="$('#tableID').tableExport({type:'pdf',escape:'false'});"
Options
separator: ','
ignoreColumn: [2,3],
tableName:'yourTableName'
type:'csv'
pdfFontSize:14
pdfLeftMargin:20
escape:'true'
htmlContent:'false'
consoleLog:'false' 
-->
<script th:inline="javascript">
/*<![CDATA[*/

/*]]>*/
</script>
</body>
</html>