<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Insert title here</title>
</head>
<body>


<button onclick="test()">测试json</button><br/>
<button onclick="test2()">测试json2</button><br/>
<button onclick="test3()">测试json3</button><br/>
<script th:src="@{https://code.jquery.com/jquery-3.2.1.min.js}"></script>
<script th:inline="javascript">
/*<![CDATA[*/
function user(id,name,nickname,age){
	this.id=id;
	this.name=name;
	this.nickname=nickname;
	this.age=age;
}
function users(){
   var u1=new user(1,"张三","小章",18);	
   var u2=new user(2,"张五","小章",18);
   var u3=new user(3,"张四","小章",18);
   var u4=new user(4,"张二","小章",18);
   var userlist=new Array(u1,u2,u3,u4);
   return userlist;
}
function test(){
	var datas=JSON.stringify(users());
	$.ajax({
		type:"post",
		url:"/json",
		data:datas,
		dataType:"json",
		contentType:"application/json",
	    success:function(data){
	    	console.log("ajax成功了!");
	    	console.log(data);
	    },
	    error:function(){
	    	console.log("失败了!");
	    }
	});
}
function test2(){
	var datas=JSON.stringify(users());
	$.ajax({
		type:"post",
		url:"/json2/"+"测试",
		data:datas,
		dataType:"json",
		contentType:"application/json",
	    success:function(data){
	    	console.log("ajax成功了!");
	    	console.log(data);
	    },
	    error:function(){
	    	console.log("失败了!");
	    }
	});
}
function test3(){
	var datas=JSON.stringify(users());
	$.ajax({
		type:"post",
		url:"/json3",
		data:datas,
		dataType:"json",
		contentType:"application/json",
	    success:function(data){
	    	console.log("ajax成功了!");
	    	console.log(data);
	    },
	    error:function(){
	    	console.log("失败了!");
	    }
	});
}
/*]]>*/
</script>
</body>
</html>